@charset "utf-8";

.b .c {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c:hover img,.c:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c:hover .i{
    background-image: url(../images/ico_play.png);
	
}


.i {
    position: absolute;
    top: 140px;
    left: 130px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c2 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c2:hover img,.c2:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c2:hover .i2{
    background-image: url(../images/ico_play.png);
	
}


.i2 {
    position: absolute;
    top: 140px;
    left: 450px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c3 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c3:hover img,.c3:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c3:hover .i3{
    background-image: url(../images/ico_play.png);
	
}


.i3 {
    position: absolute;
    top: 140px;
    left: 770px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c4 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c4:hover img,.c4:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c4:hover .i4{
    background-image: url(../images/ico_play.png);
	
}


.i4 {
    position: absolute;
    top: 140px;
    left: 1090px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c5 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c5:hover img,.c5:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c5:hover .i5{
    background-image: url(../images/ico_play.png);
	
}


.i5 {
    position: absolute;
    top: 460px;
    left: 130px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c6 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c6:hover img,.c6:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c6:hover .i6{
    background-image: url(../images/ico_play.png);
	
}


.i6 {
    position: absolute;
    top: 460px;
    left: 450px;
    width: 60px;
    height: 60px;
}

/* CSS Document */
.b .c7 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c7:hover img,.c7:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c7:hover .i7{
    background-image: url(../images/ico_play.png);
	
}


.i7 {
    position: absolute;
    top: 460px;
    left: 770px;
    width: 60px;
    height: 60px;
}

/* CSS Document */

.b .c8 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c8:hover img,.c8:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c8:hover .i8{
    background-image: url(../images/ico_play.png);
	
}


.i8 {
    position: absolute;
    top: 460px;
    left: 1090px;
    width: 60px;
    height: 60px;
}

/* CSS Document */
.b .c9 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c9:hover img,.c9:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c9:hover .i9{
    background-image: url(../images/ico_play.png);
	
}


.i9 {
    position: absolute;
    top: 780px;
    left: 130px;
    width: 60px;
    height: 60px;
}

/* CSS Document */
.b .c10 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c10:hover img,.c10:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c10:hover .i10{
    background-image: url(../images/ico_play.png);
	
}


.i10 {
    position: absolute;
    top: 780px;
    left: 450px;
    width: 60px;
    height: 60px;
}

/* CSS Document */
.b .c11 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c11:hover img,.c11:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c11:hover .i11{
    background-image: url(../images/ico_play.png);
	
}


.i11 {
    position: absolute;
    top: 780px;
    left: 770px;
    width: 60px;
    height: 60px;
}

/* CSS Document */
.b .c12 {
    display: block;
    height: 320px;
    overflow: hidden;
    width: 320px;
}


.c12:hover img,.c12:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}



.c12:hover .i12{
    background-image: url(../images/ico_play.png);
	
}


.i12 {
    position: absolute;
    top: 780px;
    left: 1090px;
    width: 60px;
    height: 60px;
}

/* CSS Document */








